# Dùng với docker-compose.local.yml (dev local)
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=postgres
DB_PUBLISH_PORT=5432

HOST=db
PASSWORD=odoo
DB_NAME=odoo

ODOO_HTTP_PORT=8069
ODOO_LONGPOLLING_PORT=8072
