AUTHENTIK_INTERNAL_URL=authentik-server
AUTHENTIK_POSTGRESQL__HOST=authentik-db
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD=authentik
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_PUBLIC_URL=http://authentik-server:9000
AUTHENTIK_REDIS__HOST=authentik-redis
AUTHENTIK_REDIS__PASSWORD=6t52MkCikP6bdpJ6XrXDLs9MeO1MzYLzdnBVkdxVIPIqjmb6myXZ6GgYKmolDlx3
AUTHENTIK_SECRET_KEY=XLWaUx6G20zYYXtMfNnXVyy2TTDDrX5kkULD65FawdZ2EfGwDGgKUm5UBbCgf31zOZNm4GFVDYIX8W8D4TQx0YduQZdZo7usjGdBNstZjokGwC1MzynlZfOtY2q8Gvza

POSTGRES_PASSWORD=odoo