docker-compose.yml
.env
postgres
auth-db
auth-certs
odoo-web-data
auth-media
auth-templates
*/node_modules
*/package-lock.json
*/.next
*/__pycache__
*/.DS_Store
*.DS_Store
*node_modules
*package-lock.json
*.next
*__pycache__
addons/.DS_Store