.env
auth-db
auth-certs
auth-media
auth-templates
odoo-web-data
postgres
*/package-lock.json
*/.DS_Store
.DS_Store
*/.next
addons/odoo_ai_assistant/.DS_Store
addons/odoo_ai_assistant/controllers/__pycache__/
addons/odoo_ai_assistant/models/__pycache__/
ai-chat/.next/
*__pycache__
*/__pycache__
*/node_modules
node_modules